<!doctype html>
<html lang="pt-br" ng-app="blog"> <!-- define o modulo que este elemento e os filhos vão usar -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <title>Blog</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <header class="container-fluid">
            <div class="row p-4 bg-dark mb-4">
                <div class="col-6">
                    <h1 class="text-white" class="item-header"><b>
                        FG BLOG
                    </b></h1>
                </div>
                <div class="col-6">
                    <div class="dropdown d-block d-md-none float-end ms-4">
                        <button class="btn btn-secondary bg-dark p-2 pt-1 rounded-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                            </svg>
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">Home</button></li>
                            <li><button class="dropdown-item" type="button">Futebol</button></li>
                            <li><button class="dropdown-item" type="button">Carro</button></li>
                            <li><button class="dropdown-item" type="button">Famosos</button></li>
                            <li><button class="dropdown-item" type="button">Economia</button></li>
                            <li><button class="dropdown-item" type="button">Polícia</button></li>
                            <li><button class="dropdown-item" type="button">Moda</button></li>
                            <li><button class="dropdown-item" type="button">Meio Ambiente</button></li>
                            <li><button class="dropdown-item" type="button">Educação</button></li>
                        </ul>
                    </div>
                    <img src="img/lupa.png" width="30rem" alt="" class="float-end mt-1 item-header">
                </div>
            </div>
            <div class="row mx-4 mx-lg-5 d-none d-md-flex">
                <div class="col-12">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link active bg-dark" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link noActive text-black" href="#">Futebol</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link noActive text-black" href="#">Carro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link noActive text-black" href="#">Famosos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link noActive text-black" href="#">Economia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link noActive text-black" href="#">Polícia</a>
                        </li>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link noActive text-black" href="#">Moda</a>
                        </li>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link noActive text-black" href="#">Meio Ambiente</a>
                        </li>
                        <li class="nav-item d-none d-xl-block">
                            <a class="nav-link noActive text-black" href="#">Educação</a>
                        </li>
                        <div class="dropdown d-block d-xl-none ms-3">
                            <button class="btn btn-secondary p-1 pt-0 mt-1 rounded-5 bg-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                                </svg>
                            </button>
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">Home</button></li>
                                <li><button class="dropdown-item" type="button">Futebol</button></li>
                                <li><button class="dropdown-item" type="button">Carro</button></li>
                                <li><button class="dropdown-item" type="button">Famosos</button></li>
                                <li><button class="dropdown-item" type="button">Economia</button></li>
                                <li><button class="dropdown-item" type="button">Polícia</button></li>
                                <li><button class="dropdown-item" type="button">Moda</button></li>
                                <li><button class="dropdown-item" type="button">Meio Ambiente</button></li>
                                <li><button class="dropdown-item" type="button">Educação</button></li>
                            </ul>
                        </div>
                    </ul>    
                </div>
                <div class="col-12">
                    <hr class="border-3 border-black" style="opacity: 1;">
                </div>
            </div>
        </header>
        <main class="container-fluid" ng-controller="consumo"> <!-- define o controller que os este elemento e os filhos vão usar-->
            <div class="row mx-2 mx-xl-5 mt-0 mt-xl-2" id="bg-destaque">
                <div class="destaque col-12 col-xl-7">
                    <a href="artigo.html?id=0" class="text-black text-decoration-none"><div class="position-relative mt-0 mt-xl-4 pt-2" href="artigo.html">
                        <img ng-src="{{publicacoes[0].thumbImage}}" alt="" class="w-100">
                        <h2 class="position-absolute bottom-0 m-3 ms-4 fs-5 d-none d-sm-flex text-white">{{publicacoes[0].title}}</h2>
                        <div class="d-block d-sm-none mt-1">
                            <h2 class="m-2 ms-1 fs-5">{{publicacoes[0].title}}</h2>
                        </div>
                    </div></a>
                </div>
                <div class="col-12 col-xl-5 mt-5 mt-xl-0">
                    <h2 class="mb-4 ms-xl-3 ps-1 ps-xl-0 text-uppercase"><b>Últimas Notícias</b></h2>
                    <div class="row">
                        <div class="col-6 col-sm-4 col-lg-6 col-xl-12" ng-repeat="post in publicacoes">
                            <a href="artigo.html?id={{$index}}" class="text-black text-decoration-none"><div class="row hoverClick ms-0 mx-1 mx-lg-0 ms-lg-3 mb-1">
                                <div class="col-12 col-lg-3 p-0 ">
                                    <img ng-src="{{post.thumbImage}}" alt="" class="w-100">
                                </div>
                                <div class="col-12 col-lg-9 ps-1 ps-lg-2 mb-4 mb-lg-0">
                                    <h3 class="text-body-secondary m-0 mt-1 mt-lg-1" style="font-size: 0.85rem;">{{post.title}} </h3>
                                </div>      
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-2 b-0" id="bg-destaque">
                <div class="col-12 mb-1"><h2 class="mt-4 pt-1 ps-1 rounded-5 text-uppercase"><b>Recomendado</b></h2></div>
                <div class="col-12 col-md-6 col-lg-4 p-3 pb-1" ng-repeat="post in publicacoes"> <!-- "ForEach(post, function (){cria a div})" -->
                    <a href="artigo.html?id={{$index}}" class="text-black text-decoration-none"><div class="hoverClick">
                        <img ng-src="{{post.thumbImage}}" alt="" class="w-100"> <!-- acessando a img da api (colocar ng-src) -->
                        <div class="p-2 mb-2 ps-1">
                            <h3 class="fs-4"><b>
                                {{post.title}}<!-- acessando os dados da api-->
                            </b></h3>
                        </div>    
                    </div></a>
                </div>
            </div>
        </main>
        <footer class="container-fluid pt-3">
            <div class="row bg-dark text-white pt-3 pb-2">
                <div class="col-4">
                    <a href="https://pt-br.facebook.com/login/device-based/regular/login/" class="text-white"><i class="bi bi-facebook mx-1 item-footer"></i></a>
                    <a href="https://twitter.com" class="text-white"><i class="bi bi-twitter-x mx-1 item-footer"></i></a>
                    <a href="https://www.instagram.com" class="text-white"><i class="bi bi-instagram mx-1 item-footer"></i></a>
                </div>
            </div>
            <!-- <div class="row bg-dark text-white pb-4"> -->
                <!-- <div class="col-12 text-center"><p id="voltar" class="d-inline">Voltar ao Topo</p></div> -->
            <!-- </div> -->
        </footer>
    </body>  
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</html>